{% extends 'base.html' %}

{% block content %}
    <div class="section">
        <div class="hero columns">
            <div class="hero-body has-text-centered level">
                <p class="column is-two-thirds is-inline-block level-right">
                    <span class="is-size-1 level-item">{{ first }} {{ last }}</span>
                </p>
                <div class="column is-inline-block level-right">
                    {% macro vote_form(score, icon) %}
                        <form action="{{ url_for('vote') }}" class="is-inline-block level-item" method="post">
                            <input type="hidden" value="{{ score }}" name="score">
                            <input type="hidden" value="{{ first }}" name="first">
                            <input type="hidden" value="{{ last }}" name="last">
                            <button type="submit" class="button is-primary"><i class="fas {{ icon }}"></i></button>
                        </form>
                    {% endmacro %}

                    {{ vote_form(1, 'fa-thumbs-up') }}
                    {{ vote_form(-1, 'fa-thumbs-down') }}
                    {{ vote_form(0, 'fa-forward') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}